{% extends '@App/Default/index.html.twig' %}
{% block title %}
    {{ 'app.titles.project_add' | trans }}
{% endblock %}
{% block page_header %}{{ 'projects.add_project' | trans }}{%  endblock %}
{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('flash_project') %}
        <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ 'app.button.add' | trans }}"/>
        <a class="btn btn-danger" href="{{ path('app_project_list') }}">{{ 'app.button.cancel' | trans }}</a>
    </form>
{%  endblock %}
