{% if users | length %}
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>{{ 'users.user.username' | trans }}</th>
            <th>{{ 'app.list.actions' | trans }}</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td class="text-center">
                    {% block user_actions %}
                        <a href="{{ path('app_user_view', {'id': user.id}) }}" rel="tooltip" title="{{ 'app.tooltip.user_view' | trans }}">
                            {{ 'app.tooltip.user_view' | trans }}
                        </a>|
                        <a href="{{ path('app_project_remove_member', {'id': project.id, 'user_id': user.id}) }}" rel="tooltip" title="{{ 'app.tooltip.project_member_remove' | trans }}">
                            {{ 'app.tooltip.project_member_remove' | trans }}
                        </a>
                    {% endblock %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ 'users.empty_list' | trans }}
{% endif %}
<div class="count">
    {{ 'app.messages.total_items' | trans }} : {{ users.getTotalItemCount }}
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(users) }}
</div>
