<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">
            {{ 'app.issue.info' | trans }}
        </h3>
        <h3 class="panel-title" id="panel-title">
            {{ 'app.issue.created' | trans }}:{{ issue.created | date('m/d/Y H:i:s') }}
        </h3>
        <h3 class="panel-title" id="panel-title">
            {{ 'app.issue.last_update' | trans }}:{{ issue.updated | date('m/d/Y H:i:s') }}
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.code' | trans }}</div>
                            <div class="col-md-6">{{ issue.code }}</div>
                        </div>
                    </li>
                    {% if issue.parent is not null %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">{{ 'app.issue.story' | trans }}</div>
                                <div class="col-md-6">
                                    <a href="{{ path('app_issue_view', {'id': issue.parent.id}) }}">{{ issue.parent.code }}</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.type' | trans }}</div>
                            <div class="col-md-6">{{ issue.type | renderIssueType }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.reporter' | trans }}</div>
                            <div class="col-md-6">
                                <a href="{{ path('app_user_view', {'id': issue.reporter.id}) }}">{{ issue.reporter.username }}</a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.priority' | trans }}</div>
                            <div class="col-md-6">{{ issue.priority | renderIssuePriority }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.type' | trans }}</div>
                            <div class="col-md-6">{{ issue.type | renderIssueType }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.summary' | trans }}</div>
                            <div class="col-md-6">{{ issue.summary }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.status' | trans }}</div>
                            <div class="col-md-6">{{ issue.status | renderIssueStatus}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.assignee' | trans }}</div>
                            <div class="col-md-6">
                                {% if issue.assignee is null %}
                                    {{ 'app.issue.unassigned' | trans }}
                                {% else %}
                                    <a href="{{ path('app_user_view', {'id': issue.assignee.id}) }}">{{ issue.assignee.username }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('app_project_view', {'id': issue.project.id}) }}" rel="tooltip" title="{{ 'app.tooltip.project_view' | trans }}">
                            {{ 'app.tooltip.project_view' | trans }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-12">
                                {{ issue.description }}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">{{ 'app.issue.resolution' | trans }}</div>
                            <div class="col-md-6">
                                {{ issue.resolution is null ? '' : issue.resolution | renderIssueResolution }}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            {% if app.user and is_granted('edit', issue) %}
                <div class="col-md-10">
                    <a class="btn btn-primary" href="{{ path('app_issue_edit', {'id': issue.id}) }}">{{'app.button.edit' | trans}}</a>
                </div>
            {% endif %}
            {% if app.user and issue.type == constant('AppBundle\\DBAL\\IssueTypeEnumType::STORY') and is_granted('add_sub_task', issue) %}
                <div class="col-md-2">
                    <a class="btn btn-primary" href="{{ path('app_issue_add_sub_task', {'id': issue.id}) }}">{{'app.button.add_sub_task' | trans}}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
