<a href="{{ path('app_user_view', {'id': user.id}) }}" rel="tooltip" title="{{ 'app.tooltip.user_view' | trans }}">
    {{ 'app.tooltip.user_view' | trans }}
</a>|
<a href="{{ path('app_user_edit', {'id': user.id}) }}" rel="tooltip" title="{{ 'app.tooltip.user_edit' | trans }}">
    {{ 'app.tooltip.user_edit' | trans }}
</a>
