<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">{{ 'app.dashboard_items.activities' | trans }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for activity in activities %}
                <p class="list-group-item">
                    <span class="badge">
                        <a href="{{ path('app_issue_view', {'id': activity.issue.id}) }}">{{ activity.issue.code }}</a>
                        <a href="{{ path('app_user_view', {'id': activity.user.id}) }}">{{ activity.user.username }}</a>
                    </span>
                    {{ activity | getActivityMessage }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>

