<div class="list-group">
    <div class="list-group-item active">{{ comment.user.username }}:</div>
    <div class="list-group-item">
        {{ comment.body }}
    </div>
    {% if is_granted('edit', comment) %}
        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">{{ 'app.comment.edit' | trans }}</a>
    {% endif %}
    {% if is_granted('remove', comment) %}
        <a href="{{ path('app_comment_remove', {'id': comment.id}) }}">{{ 'app.comment.remove' | trans }}</a>
    {% endif %}
</div>