<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="panel-title">{{ issues_panel_title }}</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            {% for issue in issues %}
                <p class="list-group-item">
                    <a href="{{ path('app_issue_view', {'id': issue.id}) }}">{{ issue.summary }}</a>
                    <span class="badge"><a href="{{ path('app_project_view', {'id': issue.project_id}) }}">{{issue.project_code}}</a></span>
                </p>
            {% endfor %}
        </div>
    </div>
</div>

