{% extends '@App/Default/index.html.twig' %}
{% block title %}
    {{ 'app.titles.issue_sub_task_add' | trans }}
{% endblock %}
{% block page_header %}{{ 'app.titles.project_issue_add' | trans({'%project_code%': project.code, '%project_label%': project.label}) }}{%  endblock %}
{% block page_content %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ 'app.button.add' | trans }}"/>
        <a class="btn btn-danger" href="{{ path('app_project_view', {id: project.id}) }}">{{ 'app.button.cancel' | trans }}</a>
    </form>
{%  endblock %}
