{% extends '@App/Default/index.html.twig' %}

{% block title %}
    {{ 'app.titles.issue_list' | trans }}
{% endblock %}
{% block page_header %}{{ 'app.issue.issues' | trans }}{%  endblock %}
{% block page_content %}
    {% if app.user and is_granted('issues_add') %}
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-primary" href="{{ path('app_issue_add') }}">{{'app.issue.create_issue' | trans}}</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if issues | length %}
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th>{{ 'app.issue.code' | trans }}</th>
                <th>{{ 'app.issue.type' | trans }}</th>
                <th>{{ 'app.summary' | trans }}</th>
                <th>{{ 'app.issue.status' | trans }}</th>
                <th>{{ 'app.issue.priority' | trans }}</th>
                <th>{{ 'app.issue.resolution' | trans }}</th>
                <th>{{ 'app.issue.reporter' | trans }}</th>
                <th>{{ 'app.issue.assignee' | trans }}</th>
                <th>{{ 'app.issue.project' | trans }}</th>
                <th>{{ 'app.issue.created' | trans }}</th>
                <th>{{ 'app.issue.updated' | trans }}</th>
                <th>{{ 'app.description' | trans }}</th>
                <th>{{ 'app.list.actions' | trans }}</th>
            </tr>
            {% for issue in issues %}
                <tr>
                    <td>{{ issue.code }}</td>
                    <td>{{ issue.type | renderIssueType }}</td>
                    <td class="issue_summary">{{ issue.summary }}</td>
                    <td>{{ issue.status | renderIssueStatus }}</td>
                    <td>{{ issue.priority | renderIssuePriority }}</td>
                    <td>{{ issue.resolution is null ? '' : issue.resolution | renderIssueResolution }}</td>
                    <td><a href="{{ path('app_user_view', {'id': issue.reporter.id}) }}">{{ issue.reporter.username }}</a></td>
                    <td>
                        {% if issue.assignee is null %}
                            {{ 'app.issue.unassigned' | trans }}
                        {% else %}
                            <a href="{{ path('app_user_view', {'id' : issue.assignee.id}) }}">{{ issue.assignee.username }}</a>
                        {% endif %}</td>
                    <td><a href="{{ path('app_project_view', {'id': issue.project.id}) }}">{{ issue.project.code }}</a></td>
                    <td>{{ issue.created | date('m/d/Y H:i:s') }}</td>
                    <td>{{ issue.updated | date('m/d/Y H:i:s') }}</td>
                    <td>{{ issue.description | renderShortIssueDescription }}</td>
                    <td class="text-center">
                        {% if app.user and is_granted('view', issue) %}
                            <a href="{{ path('app_issue_view', {'id': issue.id}) }}" rel="tooltip" title="{{ 'app.tooltip.issue_view' | trans }}">
                                {{ 'app.tooltip.issue_view' | trans }}
                            </a>
                        {% endif %}
                        {% if app.user and is_granted('edit', issue) %}
                            |<a href="{{ path('app_issue_edit', {'id': issue.id}) }}" rel="tooltip" title="{{ 'app.tooltip.issue_edit' | trans }}">
                                {{ 'app.tooltip.issue_edit' | trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ 'app.issue.empty_list' | trans }}
    {% endif %}
    <div class="count">
        {{ 'app.messages.total_items' | trans }} : {{ issues.getTotalItemCount }}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(issues) }}
    </div>
{%  endblock %}
