{% extends '@App/layout.html.twig' %}
{% block page %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">{{ 'app.messages.please_login' | trans }}</h1>
        </div>
    {% if error %}
        <div>{{ error.messageKey | trans(error.messageData) }}</div>
    {% endif %}
    {{ form_start(form, { 'style': 'horizontal', 'col_size': 'xs', 'action': path('login_check') }) }}
    {{ bootstrap_set_col_size('xs') }}
    {{ form_row(form.username, {'full_name': '_username', 'value': last_username}) }}
    {{ form_row(form.password, {'full_name': '_password'}) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
