{% extends 'default/index.html.twig' %}
{% block title %}
    {{ 'app.titles.project_members_add' | trans }}
{% endblock %}
{% block page_header %}{{ 'app.titles.project_members_add'|trans }}{%  endblock %}
{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('flash_project_member_add') %}
        <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-primary" value="{{ 'user.add_user'|trans }}"/>
        <a class="btn btn-danger" href="{{ path('app_project_members_list', {id : project.id}) }}">{{ 'app.button.cancel'|trans }}</a>
    </form>
{%  endblock %}

