{% extends 'default/index.html.twig' %}

{% block title %}
    {{ 'app.titles.projects_list' | trans }}
{% endblock %}
{% block page_header %}{{ 'projects.projects' | trans }}{%  endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {% if app.user and is_granted('projects_add') %}
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-primary" href="{{ path('app_project_add') }}">{{'app.button.add' | trans}}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    {% if projects | length %}
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th>{{ 'projects.code' | trans }}</th>
                <th>{{ 'projects.label' | trans }}</th>
                <th>{{ 'projects.created' | trans }}</th>
                <th>{{ 'projects.updated' | trans }}</th>
                <th>{{ 'app.list.actions' | trans }}</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td>{{ project.code }}</td>
                    <td>{{ project.label }}</td>
                    <td>{{ project.created | date('m/d/Y H:i:s') }}</td>
                    <td>{{ project.updated | date('m/d/Y H:i:s') }}</td>
                    <td class="text-center">
                        {% if app.user and is_granted('view', project) %}
                            <a href="{{ path('app_project_view', {'id': project.id}) }}" rel="tooltip" title="{{ 'app.tooltip.project_view' | trans }}">
                                {{ 'app.tooltip.project_view' | trans }}
                            </a>
                        {% endif %}
                        {% if app.user and is_granted('projects_edit') %}
                            |<a href="{{ path('app_project_edit', {'id': project.id}) }}" rel="tooltip" title="{{ 'app.tooltip.project_edit' | trans }}">
                                {{ 'app.tooltip.project_edit' | trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ 'projects.empty_list' | trans }}
    {% endif %}
    <div class="count">
        {{ 'app.messages.total_items' | trans }} : {{ projects.getTotalItemCount }}
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(projects) }}
    </div>
{%  endblock %}

