{% extends 'default/index.html.twig' %}

{% block title %}
    {{ 'app.titles.project_members_list' | trans({'%project_code%' : project.code, '%project_label%': project.label}) }}
{% endblock %}
{% block page_header %}
    {{ 'app.titles.project_members_list' | trans({'%project_code%' : project.code, '%project_label%': project.label}) }}
{%  endblock %}
{% block page_content %}
    {% for flashMessage in app.session.flashbag.get('flash_project_member_remove') %}
        <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary" href="{{ path('app_project_add_member', {id : project.id}) }}">{{ 'projects.add_member' | trans }}</a>
        </div>
    </div>
    <br/>
    {% include 'project/users_list.html.twig' %}
{%  endblock %}
