{% extends '@App/Default/index.html.twig' %}
{% block title %}
    {{ 'app.titles.user_add' | trans }}
{% endblock %}
{% block page_header %}{{ 'user.add_user'|trans }}{%  endblock %}
{% block page_content %}
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ 'user.add_user'|trans }}"/>
        <a class="btn btn-danger" href="{{ path('app_user_list') }}">{{ 'app.button.cancel'|trans }}</a>
    </form>
{%  endblock %}

